.tab_menu{
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.btn-edit{
    background-color: transparent;
}
.pagelist{
     h4{
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }
    .tab-content{
        color: #000;
        font-size: 14px;
    }
}