.input {
  
}

/* .inputError{
    border: 1px solid #FFACB4 !important;
}
.inputSucess{
    border: 1px solid #21DF00 !important
} */
/* .warning{
    position: absolute;
    top: 10px;
    right: 20px;
}

.warning svg{
    position: relative;
    top: 5px;
    left:5px;
    stroke:#20bd99;
} */